# Byte-compiled / cache
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/
.coverage

# Virtual envs
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Editor/OS
.DS_Store

# Project output
output/
